.legend {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 7px 0;

    &--wrap {
    display: flex;
    align-items: center;
    }
    
    &--icon{
        font-size: 18px;
        color:$dull-orange;
        margin-right: 10px;
    }
    &--title {
    font: $open_sans_semi_18;
    color: $gunmetal;
    text-transform: uppercase;
    }
    &--arrow{
        font-size: 18px;
        color: $gunmetal;
    }
}
