.fieldset--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 7px 20px;

    &__wrap {
    display: flex;
    align-items: center;
    }
    &__icon{
        font-size: 18px;
        color:$dull-orange;
        margin-right: 10px;
    }
    &__title {
    font: $open_sans_semi_18;
    color: $gunmetal;
    text-transform: uppercase;
    }
    &__arrow{
        font-size: 18px;
        color: $gunmetal;
    }
}






.share--header__icon {
    font-size: 18px;
    color: orange;
}

.share--header__arrow {
    font-size: 18px;
    color: $gunmetal;
}