<fieldset>

  <include src="./cc-legends.html" icon="fa-regular fa-keyboard" title="Rellena">
  </include>

    <form class="fill-form" action="">
      <label for="fullName">Nombre completo</label>
      <input class="fill-form-input"
        id="fullName"
        type="text"
        name="fullName"
        placeholder="Ej: Sally Jill" />

      <label for="position">Puesto</label>
      <input class="fill-form-input"
        id="position"
        type="text"
        name="position"
        placeholder="Ej: Front-end unicorn" />

      <label for="profile-image">Imagen de perfil</label>
      <div class="image-container">
        <button class="add-image">Añadir Imagen</button>
        <div class="square"></div>
       </div>
      
       <label for="email">Email</label>
      <input class="fill-form-input"
        id="email"
        type="text"
        name="email"
        placeholder="Ej: sally-hill@gmail.com" />

      <label for="telefono">Teléfono</label>
      <input class="fill-form-input"
        id="telefono"
        type="text"
        name="telefono"
        placeholder="Ej: 555-55-55-55" />

      <label for="linkedin">Linkedin</label>
      <input class="fill-form-input"
        id="linkedin"
        type="text"
        name="linkedin"
        placeholder="Ej: linkedin.com/in/sally.hill" />

      <label for="github">Github</label>
      <input class="fill-form-input"
        id="github"
        type="text"
        name="github"
        placeholder="Ej: @sally-hill" />
    </form>
  </article>
</fieldset>
