<fieldset class="share">
  <legend class="legend js-legend__share">
    <div class="legend--wrap">
      <i class="fa-solid fa-share-nodes legend--icon"></i>
      <h4 class="legend--title">Comparte</h4>
    </div>
    <i class="fa-solid fa-angle-down legend--arrow js-angle-down collapsed"></i>
    <i class="fa-solid fa-angle-up legend--arrow js-angle-up"></i>
  </legend>

  <button class="share--button js-button__share collapsed">
    <i class="fa-solid fa-address-card share--button__icon"></i>
    crear tarjeta
  </button>

  <div class="fieldset--line"></div>

  <div class="share--hidden js-div__twitter collapsed">
    <h2 class="share--hidden__title">La tarjeta ha sido creada:</h2>
    <a class="share--hidden__link" href="">https://awesome-profile-card.com?id=A456DF0001</a>
    <a class="share--hidden__button" href=""><i class="fa-brands fa-twitter share--hidden__icon"></i>
      Compartir en twitter
    </a>
  </div>

  <div class="fieldset--line"></div>
</fieldset>