<section class="section-preview">
  <div class="container">
    <!--<button type= debe ser "button" o "reset" ???value="Restaurar valores por defecto" />-->

    <button class="button-reset" type="reset" name="button">
      <i class="icon-trash fa fa-trash"></i>RESET
    </button>

    <article class="card-content js-palette palette1">
      <div class="card-header">
        <h2 class="card-name js-preview-full-name">Nombre Apellido</h2>
        <h3 class="card-jobdesc js-preview-job">Front-end developer</h3>
      </div>
      <div class="card-image"></div>
      <nav class="nav-card-icons">
        <a class="icon-card-icons js-preview-phone" href="" target="_blank"
          ><i class="icon-preview fa-solid fa-mobile-screen-button"></i
        ></a>
        <a class="icon-card-icons js-preview-email" href="" target="_blank"
          ><i class="icon-preview fa-regular fa-envelope"></i
        ></a>
        <a class="icon-card-icons js-preview-linkedin" href="" target="_blank"
          ><i class="icon-preview fa-brands fa-linkedin-in"></i
        ></a>
        <a class="icon-card-icons js-preview-github" href="" target="_blank"
          ><i class="icon-preview fa-brands fa-github-alt"></i
        ></a>
      </nav>
    </article>
  </div>
</section>
