<section class="section-preview">
  <div class="container">
    <!--<input type="reset" value="Restaurar valores por defecto" />-->

    <button class="button-reset">
      <i class="icon-trash fa fa-trash"></i>RESET
    </button>
    <!-- <i class="fa-thin fa-trash-can"></i> agregar antes de la palabra reset-->

    <article class="card-content">
      <div class="card-header">
        <h2 class="card-name">Nombre Apellido</h2>
        <h3 class="card-jobdesc">Front-end developer</h3>
      </div>
      <div class="card-image"></div>
      <nav class="nav-card-icons">
        <a class="icon-card-icons" href=""
          ><i class="icon-preview fa-solid fa-mobile-screen-button"></i
        ></a>
        <a class="icon-card-icons" href=""
          ><i class="icon-preview fa-regular fa-envelope"></i
        ></a>
        <a class="icon-card-icons" href=""
          ><i class="icon-preview fa-brands fa-linkedin-in"></i
        ></a>
        <a class="icon-card-icons" href=""
          ><i class="icon-preview fa-brands fa-github-alt"></i
        ></a>
      </nav>

      <!--<ul class="ul-card-icons">
        <li class="li-card-icons">
          <i class="fa-solid fa-mobile-screen-button"></i>
        </li>
        <li class="li-card-icons">
          <i class="fa-regular fa-envelope"></i>
        </li>
        <li class="li-card-icons">
          <i class="fa-brands fa-linkedin-in"></i>
        </li>
        <li class="li-card-icons">
          <i class="fa-brands fa-github-alt"></i>
        </li>
      </ul>-->
    </article>
  </div>
</section>
