<section class="section-preview">
  <div class="container">
    <!--<input type="reset" value="Restaurar valores por defecto" />-->
    <button class="button-reset">RESET</button>
    <!-- <i class="fa-thin fa-trash-can"></i> agregar antes de la palabra reset-->
    <div class="card-content">
      <!--<div class="card-blue-rectangle"></div> como poner el rectangle, verlo tambien en css-->
      <h2 class="card-title">Nombre Apellido</h2>
      <p class="card-paragraph">Front-end developer</p>
      <img
        class="card-image"
        src="https://fastly.picsum.photos/id/64/4326/2884.jpg?hmac=9_SzX666YRpR_fOyYStXpfSiJ_edO3ghlSRnH2w09Kg"
        alt="preview-picture"
      />
      <ul class="ul-card-icons">
        <li class="li-card-icons">
          <i class="fa-solid fa-mobile-screen-button"></i>
        </li>
        <li class="li-card-icons">
          <i class="fa-regular fa-envelope"></i>
        </li>
        <li class="li-card-icons">
          <i class="fa-brands fa-linkedin-in"></i>
        </li>
        <li class="li-card-icons">
          <i class="fa-brands fa-github-alt"></i>
        </li>
      </ul>
    </div>
  </div>
</section>
