<fieldset class="share">
  <div class="share--header">
    <span class="share--header__title">
      <i class="fa-icon fa-solid fa-share-nodes share--header__icon"></i>
      <legend class="share--header__legend">Comparte</legend>
    </span>
    <i class="fa-solid fa-angle-down share--header__arrow"></i>
  </div>

  <button class="share--button__card">
    <i class="fa-regular fa-address-card"></i>
    crear tarjeta
  </button>
  <div class="share--card__hidden">
    <h2>La tarjeta ha sido creada:</h2>
    <a href="">esto es un link</a>
    <a class="share--button__card" href=""
      ><i class="fa-brands fa-twitter twitter-share-button__icon"></i>
      Compartir en twitter
    </a>
  </div>
</fieldset>
