<section class="section-preview">
  <!--<input type="reset" value="Restaurar valores por defecto" />-->
  <button><i class="fa-thin fa-trash-can"></i>RESET</button>
  <div class="card-content">
    <h2>Nombre Apellido</h2>
    <p>Front-end developer</p>
    <img src="" alt="" />
    <ul>
      <li>
        <i class="fa-solid fa-mobile-screen-button">Phone</i>
      </li>
      <li>
        <i class="fa-light fa-envelope">email</i>
      </li>
      <li>
        <i class="fa-brands fa-linkedin-in">in</i>
      </li>
      <li>
        <i class="fa-brands fa-github-alt">gh</i>
      </li>
    </ul>
  </div>
</section>
