<section class="section-preview">
  <!--<input type="reset" value="Restaurar valores por defecto" />-->
  <button class="button-reset">
    <i class="fa-thin fa-trash-can"></i>RESET
  </button>
  <div class="card-content">
    <h2>Nombre Apellido</h2>
    <p>Front-end developer</p>
    <img
      class="card-image"
      src="https://fastly.picsum.photos/id/64/4326/2884.jpg?hmac=9_SzX666YRpR_fOyYStXpfSiJ_edO3ghlSRnH2w09Kg"
      alt="preview-picture"
    />
    <ul class="card-icons">
      <li>
        <i class="fa-solid fa-mobile-screen-button">Phone</i>
      </li>
      <li>
        <i class="fa-light fa-envelope">email</i>
      </li>
      <li>
        <i class="fa-brands fa-linkedin-in">in</i>
      </li>
      <li>
        <i class="fa-brands fa-github-alt">gh</i>
      </li>
    </ul>
  </div>
</section>
