<form action="">
    <fieldset class="design">
        <div class="container">
            <include src="./create-card-titles.html" icon="fa-regular fa-object-ungroup" title="Diseña">
            </include>
            <div class="design__content">
                <legend class="design__content-legend">colores</legend>
                <div class="design__content-color">
                    <div class="design__color-1">
                        <input type="radio" name="design_color" value="color_1" class="input_color" />
                        <div class="color_1_1 box"></div>
                        <div class="color_1_2 box"></div>
                        <div class="color_1_3 box"></div>
                    </div>
    
                    <div class="design__color-2">
                        <input type="radio" name="design_color" value="color_2" class="input_color" />
                        <div class="color_2_1 box"></div>
                        <div class="color_2_2 box"></div>
                        <div class="color_2_3 box"></div>
                    </div>
    
                    <div class="design__color-3">
                        <input type="radio" name="design_color" value="color_3" class="input_color" />
                        <div class="color_3_1 box"></div>
                        <div class="color_3_2 box"></div>
                        <div class="color_3_3 box"></div>
                    </div>
                </div>
            </div>
            <div class="fieldset__line"></div>
        </div>    
    </fieldset>
    
</form>
