<fieldset class="share">
  <include src="./create-card-titles.html" icon="fa-icon fa-solid fa-share-nodes" title="Comparte">
  </include>
  <button class="share--button">
    <i class="fa-solid fa-address-card share--button__icon"></i>
    crear tarjeta
  </button>
  <div class="fieldset--line"></div>
  <div class="share--hidden">
    <h2 class="share--hidden__title">La tarjeta ha sido creada:</h2>
    <a class="share--hidden__link" href="">https://awesome-profile-card.com?id=A456DF0001</a>
    <a class="share--hidden__button" href=""><i class="fa-brands fa-twitter share--hidden__icon"></i>
      Compartir en twitter
    </a>
  </div>
  <div class="fieldset--line"></div>
</fieldset>