<fieldset>
  <article>
    <span>
      <i>icono izquierda</i>
      <legend>rellena</legend>
    </span>
    <form action="">
      <label for="fullName">Nombre completo</label>
      <input
        id="fullName"
        type="text"
        name="fullName"
        placeholder="Ej: Sally Jill" />

      <label for="position">Puesto</label>
      <input
        id="position"
        type="text"
        name="position"
        placeholder="Ej: Front-end unicorn" />

      <label for="email">Email</label>
      <input
        id="email"
        type="text"
        name="email"
        placeholder="Ej: sally-hill@gmail.com" />

      <label for="telefono">Teléfono</label>
      <input
        id="telefono"
        type="text"
        name="telefono"
        placeholder="Ej: 555-55-55-55" />

      <label for="linkedin">Linkedin</label>
      <input
        id="linkedin"
        type="text"
        name="linkedin"
        placeholder="Ej: linkedin.com/in/sally.hill" />

      <label for="github">Github</label>
      <input
        id="github"
        type="text"
        name="github"
        placeholder="Ej: @sally-hill" />
    </form>
    <i>icono derecha flecha abajo</i>
    <i>icono derecha flecha arriba</i>
  </article>
</fieldset>
