<main class="main">
  <h1 class="title">Crea tu tarjeta de visita</h1>
  <span class="span-header">Crea mejores contactos profesionales de forma fácil y cómoda</span>

  <nav class="nav_div">
    <div class="landing_icon">
      <i class="fa-regular fa-object-ungroup"></i>
      <h6 class="title_nav">Diseña</h6>
    </div>

    <div class="landing_icon">
      <i class="fa-solid fa-keyboard"></i>
      <h6 class="title_nav">Rellena</h6>
    </div>

    <div class="landing_icon">
      <i class="landing_icon-share fa-solid fa-share-nodes"></i>
      <h6 class="title_nav">Comparte</h6>
    </div>
  </nav>
  

    <a class="bnt" href="./create_card.html" class="enlace-bnt">Comenzar</a>
  

</main>