.section-preview{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    width: 100%; 
    background-image: linear-gradient( $silver,$pale-grey);
    padding-top: 8px;
    padding-bottom: 10px;

    @include tablet {
        width: 40%;
        flex-grow: 1;
        min-height: 450px;
        //height: 812px;
        border-radius: 6px;
        padding: 0;   /*Revisión posición imagen*/
    }

    @include desktop {
        // width: 585px; /*Revisión posición imagen*/
        // height: 812px;
    }
}

.container-preview {       /*Revisión imagen*/
    padding: 0 20px 0 20px;

    @include tablet {
        margin-top: -100px;
        
    }

}

.button-reset{
    font: $open_sans_regular_12;
    width: 75px;
    height: 30px;
    border: solid 1px $white-two;
    border-radius: 15px;
    color: $gunmetal;
    background-color: $silver;
    margin-top: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    
    .icon-trash{
        padding-right: 7px;
    }

    @include tablet {
        margin-top: 0;    /*Revisión imagen*/
    }   
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: $white-two; 
    width: 240px;
    height: 329px;
    border: solid 1px $pale-grey;
    border-radius: 2px;
    box-shadow: 0 1px 10px;
    margin-bottom: 40px;

    .card-header {
        border-left: solid 5px $dirty-blue;
        margin-top: 10px;

        .card-name {
            font: $montserrat_18;
            color: $dark-green-blue;
            padding-left: 15px;
            padding-bottom: 5px;
            max-height: 3.3ch;
            max-width: 18ch;
            overflow: hidden;
        }

        .card-jobdesc {
            font: $montserrat_16;
            color: $gunmetal;
            padding-left: 15px;
            max-height: 3.5ch;
            max-width: 18ch;
            overflow: hidden;
        }
    }

    .card-image {
        width: 240px;
        height: 200px;
        //background-image: url(../../assets/images/preview-card-image.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .nav-card-icons {
        display: flex;
        justify-content: space-around;
        padding-right: 60px;
        padding-left: 10px;

        .icon-card-icons {
            width: 32px;
            height: 32px;
            font-size: 18px;
            border: solid 2px $hospital-green;
            border-radius: 50px;
            color: $dark-green-blue;
            text-align: center;

            .icon-preview {
                padding-top: 7px;
            }
        }
    }

    @include tablet {
        margin: 0;    /*Revisión imagen*/
    }
}

.card-content.palette1 {
    .card-header {
        border-left-color: $dirty-blue;
    }

    .card-name {
        color: $dark-green-blue;
    }

    .icon-card-icons {
        border-color: $hospital-green;
        color: $dark-green-blue;
    }
}

.card-content.palette2 {
    .card-header {
        border-left-color: $rusty-red;
    }

    .card-name {
        color: $dried-blood;
    }

    .icon-card-icons {
        border-color: $tomato;
        color: $dried-blood;
    }
}

.card-content.palette3 {
    .card-header {
        border-left-color: $faded-orange;
    }

    .card-name {
        color: $slate;
    }

    .icon-card-icons {
        border-color: $light-grey-blue;
        color: $slate;
    }
}

.card-content.palette4 {
    .card-header {
        border-left-color: $light-salmon-pink;
    }

    .card-name {
        color: $english-lavender;
    }

    .icon-card-icons {
        border-color:
            $pastel-green;
        color: $english-lavender;
    }
}

.card-content.palette5 {
    .card-header {
        border-left-color: $salmon;
    }

    .card-name {
        color: $violet-pink;
    }

    .icon-card-icons {
        border-color: $banana;
        color: $violet-pink;
    }
}



  







