.cc--header {
    background-color: $white-two;
    padding: 31px 0 30px 40px;
    
    &__img {
        height: 5rem;
        background-image: url(../../assets/images/logo-awesome-profile-cards.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}