
.fill-form {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    &-label{
        font: $open_sans_regular_14;
        margin-top: 20px;
        color: $dark-green-blue;
    }
    
    &-input {
        width: 98.5%;
        height: 30px;
        background-color: transparent;
        border: 1px solid $hospital-green;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;    
    }
    &-input::placeholder{
        color: $pinkish-grey;
    }
}
.image-container {
    display: flex; 
    margin-top: 0.5rem;
    margin-bottom: 1rem;
      
}
.action__upload-btn {
    background-color: $dull-orange;
    color: white;
    font: $open_sans_regular_14;
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0 $pinkish-grey;


}
.profile__preview {
    width: 30px;
    height: 30px;
    border:1px solid $hospital-green;
    margin-left: 2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

