
.fill-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
}

.fill-form input {
    border: 1px solid #a2deaf;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.profile-image {
    background-color: #e17334;
}

