.footer {
    width: 100vw;
    height: 110px;
    background-color: $white-two;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    position: absolute;
    z-index: 1;




    .span_footer{
        padding: 2rem 6.1rem 1.2rem 6.1rem;
        opacity: 0.5;
        font: $open_sans_regular_14;
        line-height: 1.43;
        letter-spacing: normal;
        color: $brownish-grey;
    
       
    }

    .img{
        width: 103px;            
    }
}

