.header{
    width: 100vw;
    padding-top: 95px;
    padding-bottom: 35.4px;
    
    @include tablet{
        padding-top: 352.5px;
    }

    @include desktop{
        // padding-top: 500px;
    }

    .images-header {
        width: 100vw;
        height: 63px;
        background-image: url(../../assets/images/logo-awesome-profile-cards.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
    
        @include tablet{
            width: 419px;
            height: 105px;
            margin: 0 auto;
        }
    }
}
