.header{
    padding-top: 70px;
    
    
    @include tablet{
        padding-top: 150px;
    }

    @include desktop{

    }

    .images-header {
        /*width: 100vw;*/
        height: 63px;
        background-image: url(../../assets/images/logo-awesome-profile-cards.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
        
        @include tablet{
           /* width: 419px;*/
            height: 105px;
            margin: 0 auto;
        }
    }
}
