.main {
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   

    @include tablet{ 
        
        
    }

    .title{
        font: $merriweather_22;
        font-size: 19.2px;
        line-height: normal;
        letter-spacing: normal;
        color: $dull-orange;

        @include tablet{ 
            font: $merriweather_24;
            padding-top: 31px;
        }
    }

    .span-header{
        width: 265px;
        font: $open_sans_regular_14;
        font-size: 12.8px;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: $dark-green-blue;

        @include tablet{ 
            font: $open_sans_regular_16;
            width: 331px;
            height: 48px;
        }
    }

            
    .nav_div{
        width: 268px;
        height: 73.8px;
        margin-top: 17.8px;
        border: solid 1.6px $dull-orange-2;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        @include tablet{ 
            width: 325px;
            height: 86px;
            margin-top: 27px;
        }
    }

   
        .landing_icon{
            text-align: center;
            font-size: 22.4px;
            color:$dull-orange;

            @include tablet{ 
                font-size: 28px;
            }

            &-share {
                padding-left: 10px;
             }

        }

            .title_nav{
                width: 48.5px;
                height: 22px;
                margin-left: -0.5rem;
                font: $open_sans_regular_12;
                font-size: 12.8px;
                color: $gunmetal;

                @include tablet{ 
                    font-size: 16px;
                    
                }
            }
                
       
        
        .bnt{
            font: $open_sans_semi_16;
            border-radius: 21px;
            border-style: none;
            color: $white-two;
            background-color: $dirty-blue;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 20px;
            margin-top: 38px;
        }

    

}
