.main {
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width:768px) {
            width: 768px;
            height: 508px;
            padding: 120px 174px 0 0;
        }

        .title{
            padding: 60px 0 0 0;
            font: $merriweather_22;
            font-size: 19.2px;
            line-height: normal;
            letter-spacing: normal;
            color: $dull-orange;
        }
            @media (min-width:768px){
                font: $merriweather_24;
                font-size: 30px;
            }



            .span-header{
                width: 265px;
                font: $open_sans_regular_14;
                font-size: 12.8px;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $dark-green-blue;
            }

            
            .nav_div{
                width: 268px;
                height: 73.8px;
                margin-top: 40px;
                border: solid 1.6px $dull-orange;
                display: flex;
                flex-direction: row;
                justify-content: center;
            }

            .ungroup{
                margin: 20px 25px 15px 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 22.4px;
                color:$dull-orange;
            }

            .title_main{
                width: 48.5px;
                height: 22px;
                margin-left: -0.5rem;
                font: $open_sans_regular_12;
                font-size: 12.8px;
                color: $gunmetal;
            }
                
            .keyboard{
                margin: 20px 25px 15px 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 22.4px;
                color:$dull-orange;
            }

            .title_main2{

                width: 48.5px;
                height: 22px;
                margin-left: -0.5rem;
                font: $open_sans_regular_12;
                font-size: 12.8px;
                color: $gunmetal;
                color: $gunmetal;
            }

            .share{
                width: 32px;
                height: 26px;
                margin: 26px 25px 15px 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 22.4px;
                color:$dull-orange;
            }

            .title_main3{

                width: 48.5px;
                height: 22px;
                margin-left: -0.5rem;
                font: $open_sans_regular_12;
                font-size: 12.8px;
                color: $gunmetal;
            }


            .buttom_main{
                position: absolute;
                padding: 450px 0 0 0;
                
            }
            .bnt{
                width: 129px;
                height: 42px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font: $open_sans_semi_16;
                border-radius: 21px;
                border-style: none;
                color: $white-two;
                background-color: $dirty-blue;
                text-transform: uppercase;
                
            }

            .enlace-bnt{
                text-decoration: none;
            }
}

