@import 'core/reset';
@import 'core/variables';
@import 'core/mixins';
@import 'core/animations';
@import 'pages/index';
@import 'layout/cc-section';
@import 'components/cc-legends';
@import 'layout/cc-design';
@import 'layout/cc-fill';
@import 'layout/cc-share';
@import 'layout/cc-header';
@import 'layout/header';
@import 'layout/main';
@import 'layout/footer';

/*font-family: 'Merriweather',
serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Open Sans',
sans-serif;*/

:root {
    font-size: 62.5%;
}

.body {
    width: 100vw;
    background-color: $white-four;
}

.container {
    margin: 0 20px 0 20px;
}
.form--background {
    background-color: $white-four;
}