@import 'core/reset';
@import 'core/variables';
@import 'core/mixins';
@import 'core/animations';
@import 'pages/index';
@import 'layout/header';
@import 'layout/main';
@import 'layout/cc-header';
@import 'layout/cc-section';
@import 'components/cc-legends';
@import 'layout/cc-design';
@import 'layout/cc-fill';
@import 'layout/cc-share';
@import 'layout/footer';

/*font-family: 'Merriweather',
serif;
font-family: 'Montserrat',
sans-serif;
font-family: 'Open Sans',
sans-serif;*/

:root {
    font-size: 62.5%;
}

.body {
    width: 100vw;
    background-color: $white-four;
    height: 100vh;
    display: grid;
    grid-template-rows: 130px 1fr 110px;

    @include tablet{
        grid-template-rows: 455px 1fr 60px;
    }

    @include desktop{
        grid-template-rows: 455px 1fr 60px;
    }
}

.container {
    padding: 0 20px 0 20px;

    @include tablet {
        padding: 0 30px 0 40px;
    }
}
.main--background {
    background-color: $white-four;
    padding-bottom: 30px;
    
    @include tablet {
        padding: 20px 40px 20px 0;
        display: flex;
        flex-direction: row-reverse;
    }
}

.form--background{
    padding-top: 17px;
    width: 100%;
    
    @include tablet{
        width: 60%;
        max-width: 400px;
    }
}
.collapsed {
    display: none;
}

